<mat-table  [dataSource]="testes" >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Titulo Column -->
  <ng-container matColumnDef="titulo">
    <mat-header-cell  *matHeaderCellDef> Título </mat-header-cell>
    <mat-cell  *matCellDef="let teste"> {{teste.titulo}} </mat-cell>
  </ng-container>

  <!-- sprint Column -->
  <ng-container matColumnDef="sprint">
    <mat-header-cell   *matHeaderCellDef> Sprint </mat-header-cell>
    <mat-cell  *matCellDef="let teste"> {{teste.sprint}} </mat-cell>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <mat-header-cell  *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let teste"> {{teste.status}}
    </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell  *matHeaderCellDef="" class="action-column-header">
      <button mat-mini-fab color="primary" (click)="onAdd()" aria-label="Adicionar"  >
        <mat-icon >add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let element" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar">
        <mat-icon (click)="onEdit(element)">edit</mat-icon>
      </button>

      <button mat-icon-button color="primary" aria-label="Remover">
        <mat-icon (click)="onDelete(element)">delete</mat-icon>
      </button>


    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
